@model WebApplication16.Models.Page
@{
    ViewData["Title"] = Model.Title;
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";

}

<div class="container mt-4">
    <article>
        <header>
            <h1>@Model.Title</h1>
        </header>
        <hr />
        <section class="page-content">
            @Html.Raw(Model.Content)
        </section>
    </article>
</div>